* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
 /*This is for navigation bar*/
nav{
    z-index: 777;
    display: flex;
    position: fixed;
    background-color: transparent;
    height: 80px;
    width: 100%;
}
nav{
    z-index: 777;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    align-items: center;
}

.list{
    z-index: 4;
    display: flex;
    position: relative;
    float: right;
    left: 50%;
    
}


.main{
    z-index: 4;
    font-family: Arial;
    display: flex;
    position: relative;
    font-size: 50px;
    left: 4%;
}

.button{
    z-index: 4;
    display: flex;
    position: relative;
    left: 60%;
    background-color: transparent;
    padding: 1%;
    border-radius: 25px;
    border-width: 3px;
    border-color: transparent;
    text-decoration: none;
}

.button:hover{
    transition: 0.3s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

/*This is for background*/
body{
    background-image: url("/Zero/Screenshot 2024-05-02 200705.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.title{
    color: white;
    cursor: pointer;
}

.bg-bd{
    z-index: 1;
    display: flex;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    height: 250%;
    width: 100%;
}

/*This is for 1ed peragraph*/
.paragraph{
    z-index: 4;
    display: flex;
    position: relative;
    height: 350px;
    width: 400px;
    top: 220px;
    left: 200px;
    color: white;
}

/*This is for 1ed image title*/
.title2{
    z-index: 4;
    display: flex;
    position: absolute;
    color: white;
    top: 150px;
    left: 200px;
    font-size: 50px;
    
}

/*This is for 1ed image*/
.image{
    align-items: center;
    justify-content: center;
    z-index: 2;
    display: flex;
    position: absolute;
    top: 180px;
    left: 740px;
    height: 300px;
    box-shadow:  0 0 50px rgba(0, 0, 0, 1);
    border-radius: 20px;
    cursor: pointer;
}

.image:hover{
    transition: 0.5s;
    height: 320px;
    left: 720px;
    top: 170px;
}

.menu{
    z-index: 7;
    font-family: Arial;
    text-decoration: none;
    list-style: none;
    font-size: 120%;
    padding: 10px;
    margin: 10%
}

.menu:hover{
    transition: 0.5s;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
    border-radius: 20px;
}

.about{
    z-index: 4;
    font-family: Arial;
    text-decoration: none;
    list-style: none;
    font-size: 120%;
    padding: 10px;
    margin: 10%
}

.about:hover{
    transition: 0.5s;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
    border-radius: 20px;
}

.home{
    z-index: 4;
    font-family: Arial;
    text-decoration: none;
    list-style: none;
    font-size: 120%;
    padding: 10px;
    margin: 10%
}

.home:hover{
    transition: 0.5s;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
    border-radius: 20px;
}


/*This is for 2ed peragraph*/
.paragraph1{
    z-index: 4;
    display: flex;
    position: relative;
    height: 100px;
    width: 400px;
    top: 430px;
    left: 740px;
    color: white;
}


/*This is for 2ed image title*/
.title3{
    z-index: 4;
    display: flex;
    position: absolute;
    color: white;
    top: 700px;
    left: 740px;
    font-size: 50px;
    
}

/*This is for 2ed image*/
.image1{
    align-items: center;
    justify-content: center;
    z-index: 2;
    display: flex;
    position: absolute;
    top: 700px;
    left: 100px;
    height: 300px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 1);
    border-radius: 20px;
    cursor: pointer;
}

.image1:hover{
    transition: 0.5s;
    height: 320px;
    left: 90px;
    top: 690px;
}

/*This is for background darkness*/
.last{
    display: flex;
    position: absolute;
    background-color: black;
    height: 150px;
    width: 100%;
    top: 250%;
}

/*This is for menu*/
ul li .dropdown li {
    display: block;
    z-index: 999;
}

ul li .dropdown {
    width: 100%;
    margin: 10px;
    border-radius: 25px;
    font-size: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(50px);
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 50px;
    left: 160px;
    z-index: 999;
    padding: 0px;
    display: none;
}

ul li a:hover{
    z-index: 999;
}

ul li:hover ul.dropdown{
    z-index: 999;
    display: block;
    backdrop-filter: blur(50px);
    background-color: rgba(0, 0, 0, 0.4);
}

.dropdown li{
    margin: 40px;
}


/*This is for 3ed peragraph*/
.paragraph2{
    z-index: 4;
    display: flex;
    position: relative;
    height: 100px;
    width: 400px;
    top: 830px;
    left: 200px;
    color: white;
}

/*This is for 3ed image title*/
.title4{
    z-index: 4;
    display: flex;
    position: absolute;
    color: white;
    top: 1200px;
    left: 200px;
    font-size: 50px;
    
}

/*This is for 3ed image*/
.image2{
    align-items: center;
    justify-content: center;
    z-index: 2;
    display: flex;
    position: absolute;
    top: 1200px;
    left: 720px;
    height: 300px;
    box-shadow:  0 0 50px rgba(0, 0, 0, 1);
    border-radius: 20px;
    cursor: pointer;
}

.image2:hover{
    transition: 0.5s;
    height: 320px;
    top: 1190px;
    left: 710px;
}

/*Thsi is for next page numbers*/
.right-arrow{
    z-index: 10;
    font-family: Arial;
    display: flex;
    position: absolute;
    color: white;
    left: 750px;
    top: 1600px;
    font-size: 40px;
    cursor: pointer;
}

.left-arrow{
    z-index: 10;
    font-family: Arial;
    display: flex;
    position: absolute;
    color: white;
    left: 550px;
    top: 1600px;
    font-size: 40px;
    cursor: pointer;
}

/*Thsi is for next page numbers*/
.num1{
    z-index: 10;
    font-family: Arial;
    display: flex;
    position: absolute;
    color: white;
    left: 580px;
    width: 25px;
    top: 1605px;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px);
}

.num1:hover{
    color: rgba(255, 255, 255, 1);
}


.num2{
    z-index: 10;
    font-family: Arial;
    display: flex;
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
    left: 620px;
    top: 1605px;
    font-size: 30px;
    cursor: pointer;
}

.num2:hover{
    color: rgba(255, 255, 255, 1);
}


.num3{
    z-index: 10;
    font-family: Arial;
    display: flex;
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
    left: 650px;
    top: 1605px;
    font-size: 30px;
    cursor: pointer;
}

.num3:hover{
    color: rgba(255, 255, 255, 1);
}


.num4{
    z-index: 10;
    font-family: Arial;
    display: flex;
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
    left: 680px;
    top: 1605px;
    font-size: 30px;
    cursor: pointer;
}

.num4:hover{
    color: rgba(255, 255, 255, 1);
}


.num5{
    z-index: 10;
    font-family: Arial;
    display: flex;
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
    left: 710px;
    top: 1605px;
    font-size: 30px;
    cursor: pointer;
}

.num5:hover{
    color: rgba(255, 255, 255, 1);
}
